<?xml version="1.0"?>
<clickhouse>
    <listen_host>0.0.0.0</listen_host>
    <max_server_memory_usage>4294967296</max_server_memory_usage>
    <max_server_memory_usage_to_ram_ratio>0.9</max_server_memory_usage_to_ram_ratio>
    <max_thread_pool_size>8</max_thread_pool_size>
    <background_pool_size>4</background_pool_size>
    <background_message_broker_schedule_pool_size>4</background_message_broker_schedule_pool_size>
    <kafka>
        <num_consumers>4</num_consumers>
        <poll_max_batch_size>65536</poll_max_batch_size>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        <max_retries>0</max_retries>
    </kafka>
    <logger>
        <level>warning</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>100M</size>
        <count>3</count>
        <console>1</console>
    </logger>
    <path>/var/lib/clickhouse/</path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
    <query_log>
        <database>system</database>
        <table>query_log</table>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
        <partition_by>toYYYYMM(event_date)</partition_by>
        <ttl>event_date + INTERVAL 7 DAY DELETE</ttl>
    </query_log>
</clickhouse>
